* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Poppins',sans-serif; }

.sidebar {
  transition: width 300ms;
  width: 345px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: crimson; }
  .sidebar .sidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff; }
    .sidebar .sidebar-brand h2 span {
      display: inline-block;
      padding-right: 1rem;
      margin-left: 0.5rem; }
  .sidebar .sidebar-menu {
    margin-top: 1rem; }
    .sidebar .sidebar-menu ul li {
      width: 100%;
      margin-bottom: 1rem;
      padding-left: 1rem; }
    .sidebar .sidebar-menu a {
      padding-left: 1rem;
      display: block;
      color: #fff;
      font-size: 1.1rem; }
      .sidebar .sidebar-menu a span:first-child {
        font-size: 1.5rem;
        padding-right: 1rem; }
      .sidebar .sidebar-menu a.active {
        background-color: #fff;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: crimson;
        border-radius: 30px 0px 0px 30px; }

.main-content {
  transition: margin-left 300ms;
  margin-left: 345px; }
  .main-content header {
    background: #fff;
    transition: left 300ms;
    display: flex;
    position: fixed;
    left: 345px;
    top: 0;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: calc(100% - 345px); }
    .main-content header h2 {
      color: #222; }
    .main-content header label span {
      cursor: pointer;
      font-size: 1.7rem;
      padding-left: 1rem; }
    .main-content header .search-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 30px;
      border: 1px solid #ccc;
      height: 50px;
      overflow: hidden; }
      .main-content header .search-wrapper input {
        height: 100%;
        padding: .5rem;
        border: none;
        outline: none; }
      .main-content header .search-wrapper span {
        display: inline-block;
        padding: 0rem 1rem;
        font-size: 1.5rem; }
    .main-content header .user-wrapper {
      display: flex;
      align-items: center; }
      .main-content header .user-wrapper img {
        border-radius: 50%;
        margin-right: 1rem; }
      .main-content header .user-wrapper small {
        display: inline-block;
        color: #8390A2;
        margin-top: -10px !important; }

#nav-toggle:checked ~ .main-content {
  margin-left: 70px; }
  #nav-toggle:checked ~ .main-content header {
    width: calc(100% - 70px);
    left: 70px; }

#nav-toggle:checked + .sidebar {
  width: 70px; }
  #nav-toggle:checked + .sidebar .sidebar-brand {
    text-align: center;
    padding-left: 1rem; }
    #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child {
      display: none; }
  #nav-toggle:checked + .sidebar li {
    text-align: center;
    padding-left: 1rem; }
    #nav-toggle:checked + .sidebar li a span:last-child {
      display: none; }

main {
  margin-top: 90px;
  padding: 2rem 1.5rem;
  background-color: #f1f5f9;
  min-height: calc(100vh - 90px); }
  main .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem; }
    main .cards .card-single {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      padding: 2rem;
      border-radius: 2px; }
      main .cards .card-single span:last-child {
        color: #8390A2; }
      main .cards .card-single span:first-child {
        font-size: 3rem;
        color: crimson; }
      main .cards .card-single:last-child {
        background-color: crimson; }
        main .cards .card-single:last-child h1, main .cards .card-single:last-child span {
          color: #fff; }
  main .recent-grid {
    margin-right: 0.5rem;
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: 67% auto; }
    main .recent-grid .table-responsive {
      width: 100%;
      overflow-x: auto; }
      main .recent-grid .table-responsive table {
        border-collapse: collapse; }
        main .recent-grid .table-responsive table thead tr {
          border-top: 1px solid #f0f0f0;
          border-bottom: 1px solid #f0f0f0;
          padding: 0rem; }
          main .recent-grid .table-responsive table thead tr td {
            font-weight: 700;
            padding: 1rem 0rem;
            font-size: 1rem; }
        main .recent-grid .table-responsive table tbody tr td {
          font-size: 0.9rem;
          padding: 0.6rem 0rem;
          color: #222; }
          main .recent-grid .table-responsive table tbody tr td:last-child {
            display: flex;
            align-items: center; }
          main .recent-grid .table-responsive table tbody tr td .status {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            margin-right: 1rem; }
          main .recent-grid .table-responsive table tbody tr td .status.purple {
            background: rebeccapurple; }
          main .recent-grid .table-responsive table tbody tr td .status.pink {
            background: deeppink; }
          main .recent-grid .table-responsive table tbody tr td .status.orange {
            background: orangered; }
    main .recent-grid .card {
      background-color: #fff; }
      main .recent-grid .card .card-header, main .recent-grid .card .card-body {
        padding: 1rem; }
      main .recent-grid .card .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #f0f0f0; }
        main .recent-grid .card .card-header button {
          cursor: pointer;
          background: crimson;
          border-radius: 10px;
          color: #fff;
          font-size: 0.8rem;
          padding: 0.5rem 1rem;
          border: 1px solid crimson; }
    main .recent-grid .customer-column {
      margin-left: 0.7rem; }
      main .recent-grid .customer-column .customer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0.7rem; }
        main .recent-grid .customer-column .customer .info {
          display: flex;
          align-items: center; }
          main .recent-grid .customer-column .customer .info img {
            border-radius: 50%;
            margin-right: 1rem; }
          main .recent-grid .customer-column .customer .info h4 {
            font-size: 0.8rem;
            font-weight: 700;
            color: #333; }
          main .recent-grid .customer-column .customer .info small {
            font-weight: 600;
            color: #8390A2; }
        main .recent-grid .customer-column .customer .contact span {
          display: inline-block;
          font-size: 1.2rem;
          margin-left: 0.5rem;
          color: crimson; }

@media only screen and (max-width: 960px) {
  main .cards {
    grid-template-columns: repeat(3, 1fr); }
  main .recent-grid {
    grid-template-columns: 60% 40%; } }

@media only screen and (max-width: 768px) {
  .main-content {
    margin-left: 0rem !important;
    width: 100% !important; }
    .main-content header {
      width: 100% !important;
      left: 0rem !important; }
      .main-content header .search-wrapper {
        display: none; }
      .main-content header h2 {
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        font-size: 1.1rem; }
        .main-content header h2 span {
          padding-right: 0rem; }
      .main-content header h1 {
        display: flex;
        justify-content: center;
        align-items: center; }
        .main-content header h1 label {
          display: inline-block;
          text-align: center;
          background-color: crimson;
          padding-right: 0rem;
          margin-right: 1rem;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center !important; }
          .main-content header h1 label span {
            display: inline-block;
            text-align: center;
            padding-left: 0rem; }
  #sidebar {
    left: -100% !important; }
  main .cards {
    grid-template-columns: repeat(2, 1fr); }
  main .recent-grid {
    grid-template-columns: 100%; }
  #nav-toggle:checked + .sidebar {
    left: 0rem !important;
    z-index: 100;
    width: 345px; }
  #nav-toggle:checked + .sidebar .sidebar-brand, #nav-toggle:checked + .sidebar li {
    padding-left: 2rem;
    text-align: left; }
  #nav-toggle:checked + .sidebar li a {
    padding-left: 1rem; }
  #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child {
    display: inline; }
  #nav-toggle:checked + .sidebar li a span:last-child {
    display: inline; }
  #nav-toggle:checked ~ .main-content {
    margin-left: 0rem !important; } }

@media only screen and (max-width: 560px) {
  main .cards {
    grid-template-columns: 100%; } }

@media only screen and (max-width: 1200px) {
  .main-content {
    margin-left: 70px; }
    .main-content header {
      left: 70px;
      width: calc(100% - 70px); }
  .sidebar {
    width: 70px; }
    .sidebar:hover {
      width: 345px;
      z-index: 200; }
    .sidebar .sidebar-brand, .sidebar li {
      padding-left: 1rem;
      text-align: center; }
      .sidebar .sidebar-brand:hover, .sidebar li:hover {
        padding-left: 2rem;
        text-align: left; }
    .sidebar li a {
      padding-left: 0rem; }
      .sidebar li a:hover {
        padding-left: 1rem; }
      .sidebar li a span:last-child {
        display: none; }
        .sidebar li a span:last-child:hover {
          display: inline; }
    .sidebar .sidebar-brand h2 span:last-child {
      display: none; }
      .sidebar .sidebar-brand h2 span:last-child:hover {
        display: inline; } }
